.searchContainer {
  position: relative;
  z-index: 2;
}

.searchInput {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
}

.dropdownItem {
  padding: 8px;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  background: #fff;

  &:hover{
    background: #efefef;
  }
}

.dropdownItem img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

@media (max-width: 1024px) {
  .searchInput {
    width: 250px;
  }

  .dropdown {
    max-height: 180px;
  }
}

@media (max-width: 768px) {
  .searchInput {
    width: 100%;
    font-size: 13px;
    padding: 6px;
  }

  .dropdown {
    width: 100%;
    max-height: 150px;
  }

  .dropdownItem {
    padding: 6px;
    font-size: 12px;
  }

  .dropdownItem img {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 480px) {
  .searchInput {
    width: 300px;
    font-size: 12px;
    padding: 5px;
  }

  .dropdownItem {
    padding: 5px;
    font-size: 11px;
  }

  .dropdownItem img {
    width: 22px;
    height: 22px;
  }
}
