@use "../../api/UI/styles/Variables.modules.scss" as *;

.mainCont {
  padding: 7px;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  padding: 20px;
  box-shadow: $box-shadow;
  border-radius: 20px;
  height: 100%;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #7a7464;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.postContainer {
  max-width: 50%;
  min-width: 40%;
  background: white;
  padding: 20px;
  height: fit-content;
  border-radius: 8px;
  box-shadow: $box-shadow;
}

.post {
  display: grid;
  width: 100%;
}

.single {
  grid-template-columns: 98.5%;
}

.double {
  grid-template-columns: 49.25% 49.25%;
}

.multiple {
  grid-template-columns: 70% 28.5%;
  grid-template-rows: 1fr 1fr;
}

.multiple div:first-child {
  grid-row: span var(--span-count);
}

.multiple img:nth-child(2),
.multiple img:nth-child(3) {
  aspect-ratio: 1 / 1;
}

.postImage {
  width: 100%;
  height: 100%;
  border: 4px solid white;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}

.text {
  font-size: 1rem;
  color: #333;
  margin-top: 5px;
}

.notFound {
  text-align: center;
  font-style: italic;
  color: gray;
}

.noImagesText {
  font-style: italic;
  color: gray;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.text {
  font-size: 16px;
  color: #333;
}

.notFound {
  font-size: 18px;
  color: $error-color;
}
