@use "../../api/UI/styles/Variables.modules.scss" as *;

.chat {
  display: flex;
  height: 84vh;
  overflow: hidden;
  padding: 7px;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #7a7464;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sidebar {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  min-width: 280px;
  background-color: #f5f5f5;
  border-right: 1px solid #dcdcdc;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  box-shadow: $box-shadow;
  z-index: 1;
}

h3 {
  margin: 0;
  padding-bottom: 5px;
  color: #5a3a29;
  font-size: 16px;
  border-bottom: 1px solid #d4b89a;
}

.chatWindow {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  height: 100%;
  box-shadow: $box-shadow;
}

.messagesContainer {
  flex-grow: 1;
  padding-right: 10px;
  height: calc(100vh - 120px);
  display: flex;
  height: 100hv;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .chat {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    min-width: 250px;
    padding: 10px;
  }

  .chatWindow {
    border-radius: 20px;
    height: auto;
  }

  .messagesContainer {
    height: calc(100vh - 120px);
    padding-right: 5px;
    overflow-y: auto;
  }
}

@media (max-width: 768px) {
  .sidebar {
    min-width: 200px;
    padding: 8px;
    border-radius: 0;
  }

  .chatWindow {
    height: auto;
    border-radius: 15px;
  }

  .messagesContainer {
    height: calc(100vh - 80px);
    overflow-y: auto;
  }
}

@media (max-width: 480px) {
  .chat {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    min-width: 180px;
    padding: 5px;
    border-radius: 0;
  }

  .chatWindow {
    height: auto;
    border-radius: 10px;
  }

  .messagesContainer {
    height: calc(100vh - 60px);
    overflow-y: auto;
  }
}

.backButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #a47e69;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.backButton:hover {
  background-color: #d4b89a;
}
