.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15hv;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #dcdcdc;
  z-index: 0;
}

.container {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
}

.img {
  margin-right: 5px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #f5f5f5;
  object-fit: cover;
}

.info {
  display: flex;
  gap: 20px;
  text-decoration: none;
}

.info p,
a {
  margin: 0;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.info p:hover {
  color: #8e764f;
}

.sideInfo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logout {
  cursor: pointer;
  color: #be5252;
  font-size: 16px;
  transition: color 0.2s ease;
  display: flex;

  svg {
    fill: #be5252;
    transition: all 0.2s;
  }
}

.link {
  display: flex;
  gap: 3px;
  align-items: center;

  svg {
    fill: #333;
    transition: all 0.2s;
  }
}

.link:hover svg {
  fill: #8e764f;
}

.strokeLink{
  display: flex;
  gap: 3px;
  align-items: center;

  path{
    transition: all 0.2s;
  }
}

.strokeLink:hover path {
  stroke: #8e764f;
}

.logout:hover,
.logout:hover svg {
  color: #e08888;
  fill: #e08888;
}

.notificationsContainer{
  display: flex;
  align-items: center;
}