.mainRouterContainer {
  height: 100%;
}

@media (max-width: 768px) {
  .mainRouterContainer {
    padding-left: 37px;
  }
}

@media (max-width: 1024px) {
  .mainRouterContainer {
    padding-left: 37px;
  }
}

@media (max-width: 480px) {
  .mainRouterContainer {
    padding-left: 37px;
  }
}
